:root {
    --color-primario: #f7e0add7;
    --color-secundario: #f7d49e;
    --color-terciario: #fcbbde;
    --color-cuaternario: #f582bf;
}

@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
}

.alinear {
    display: flex;
    margin: 0 auto;
}

.logoImg {
    width: 150px;
}

.grid {
    display: grid;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}
.grid-75{
    grid-template-columns: 75% 25%;
}
header ul {
    margin-left: 20%;
}

header li,
header a {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    margin-top: -10px;
    font-family: 'Poppins', sans-serif;
}

#principal {
    border-radius: 7px;
    background-color: var(--color-primario);
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
    border-bottom-left-radius:0px ;
    border-bottom-right-radius:0px ;
}

.productos img {
    width: 300px;
    border-radius: 7px;
}

.productos article {
    display: inline-block;
    margin: 10px;
    border-radius: 7px;
    background-color: var(--color-secundario);
    padding: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;

}
section .productos{
    margin-left: 10%;
    margin-right: 10%;
}
.productos article p {
    text-decoration: none;
    color: #333;
    font-size: 22px;
    line-height: 1.5;
}
.productos article a{
    text-decoration: none;
    color: #333;
    font-size: 22px;
    line-height: 1.5;
}

.imgDifuminada {
    display: block;
    position: relative;
    width: 100%;
    z-index: 0;
    left: 0;
    opacity: 0.5;
    border-radius: 7px;
}
.xq {
    display: block;
    z-index: 1;
    width: 100%;  /* Hacer que ocupe el 100% del ancho */
    height: 100%; /* Ajustar la altura automáticamente */
    background-image: url('/img/fondo.png');
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;  /* Cambiar a relative para evitar que se superponga */
    padding: 150px 0; /* Añadir padding para que el contenido no esté pegado a los bordes */
    border-radius: 7px;
}

.motivos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    padding-top: 50px;
    height: auto;
    /* background-color: var(--color-primario); */
    margin-left: 10px;
   padding-left: 10px;
   margin-right: 10px;
   margin-top: 10px;
   border-radius: 7px;
}
.motivos article{
    display: inline-block;
    margin: 10px;
    border-radius: 7px;
    background-color: var(--color-secundario);
    padding: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;

}


.reviews-container {
    display: flex;
    margin: 0 auto;
    
}

.texto {
    margin: 10px;
    height: 180px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: #f7d49ea6;
    padding: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    z-index: 1;
    color: rgb(0, 0, 0);
    margin: 0 auto;
    margin-top: -100px;
    width: 40%;
}


footer {
    background-color: var(--color-primario);
    padding: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    vertical-align: auto;
}
header {
    transition: all 0.3s ease;
}

header.shrink {
    padding: 5px 0;
    font-size: 0.8em;
}
header button{
    position: absolute;
    top: 150px;
    right: 120px;
    border: none;
    background-color: transparent;
}
.imgInicioSesion{
    width: 75px;
    margin-left: 90%;
    margin-top: -80px;
}
.IniciarSesionButton{
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
}

.iniciarSesion{
    position: absolute;
    top: 155px;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
    justify-content: center;
    background-color: #f7d49ed8;
    padding: 10px;
    display: none;
}
.iniciarSesion input{
    border: none;
    background-color: var(--color-primario);
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;

}
.iniciarSesion button{
    border: none;
    background-color: var(--color-secundario);
    padding: 5px;
    border-radius: 5px;
    display: block;
    color:#333;
    
}
.iniciarSesion button:hover{
    background-color: var(--color-terciario);
}
.iniciarSesion input:active{
    background-color: var(--color-terciario);
}
.iniciarSesion button:active{
    background-color: var(--color-terciario);
}
.iniciarSesion button .cerrar{
    top: 0;
    right: 15px;
}
.review{
   font-family: "Poppins", sans-serif;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}
.reviewImg{
    z-index: -1;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
#principal article a{
    text-decoration: none;
    color: #333;
    font-size: 22px;
    line-height: 1.5;
}
#principal article a:hover {
    color: var(--color-cuaternario);
    transition: color 0.3s ease-in-out;
    transform: scale(1.1);
}
.productos article {
    display: inline-block;
    margin: 10px;
    border-radius: 7px;
    background-color: var(--color-secundario);
    padding: 10px;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
    margin-bottom: 10px;
}


.faq-container {
    width: 45%;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.faq-container h2 {
    font-size: 2rem;
    color: var(--color-secundario);
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 20px;
}

.faq-item h3 {
    font-size: 1.5rem;
    color: var(--color-terciario);
    cursor: pointer;
}

.faq-item p {
    margin-top: 10px;
    color: black;
}

/* Flexbox para FAQ y Contacto */
.flex-faq-contacto {
    display: flex;
    justify-content: space-between;
}

.formulario-contacto {
    width: 45%;
}
        .contacto-container {
            margin: 0 auto;
            padding: 50px 20px;
            font-family: 'Poppins', sans-serif;
            width: 70%;
        }

        .contacto-titulo {
            text-align: center;
            font-size: 2.5rem;
            margin-bottom: 20px;
            color: var(--color-cuaternario);
        }

        .info-contacto {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
        }

        .info-contacto div {
            width: 30%;
            text-align: center;
        }

        .info-contacto img {
            width: 50px;
            margin-bottom: 10px;
        }

        .formulario-contacto {
            background-color: var(--color-primario);
            padding: 20px;
            border-radius: 7px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        }

        .formulario-contacto label {
            display: block;
            margin-bottom: 10px;
            font-size: 1.2rem;
        }

        .formulario-contacto input,
        .formulario-contacto textarea {
            width: 95%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            
        }

        .formulario-contacto button {
            background-color: var(--color-secundario);
            color: #333;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
        }

        .formulario-contacto button:hover {
            background-color: var(--color-terciario);
            transition: background-color 0.3s ease-in-out;
            color: white;
            transition: color 0.3s ease-in-out;
        }
        header a:hover{
            color: var(--color-cuaternario);
            transition: color 0.3s ease-in-out;
            transform: scale(1.1);
        }